@import "../shared/helper";

.home {
  background: #101521;
  color: #03dbf6;
  flex: 1;
  display: flex;
  flex-direction: column;

  > header {
    height: px(112);
    background-size: cover;
  }

  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box3" 930fr / 486fr 705fr 486fr;
    grid-column-gap: px(70);

    > .section1 {
      grid-area: box1;
    }

    > .section2 {
      grid-area: box2;
    }

    > .section3 {
      grid-area: box3;
    }

    .chart1 {
      display: grid;
      grid-template:
      "tag" px(30)
      "content" px(290);
      height: px(320);

      .tag {
        position: relative;
        grid-area: tag;

        .num {
          position: absolute;
          left: 0;
          background: #4e6b8d;
          width: px(32);
          text-align: center;
          line-height: px(30);
          font-size: px(16);
        }

        h2 {
          line-height: px(30);
          padding-left: px(45);
        }
      }

      .content {
        grid-area: content;
        display: flex;
        flex-direction: row;

        .data {
          display: flex;
          justify-content: center;
          flex-direction: column;
          position: relative;
          width: 100%;
          flex: 1;
          margin-top: px(25);
          margin-bottom: px(50);
          border: 2px solid #457482;
          border-bottom-right-radius: 30px;

          .square1 {
            height: px(7);
            width: px(7);
            background: #ffda67;
            position: absolute;
            top: 0;
            left: 0;
          }

          .square2 {
            height: px(7);
            width: px(7);
            background: #ffda67;
            position: absolute;
            top: 0;
            right: 0;
          }

          .square3 {
            height: px(7);
            width: px(7);
            background: #ffda67;
            position: absolute;
            bottom: 0;
            left: 0;
          }

          .text {
            height: px(75);
            display: grid;
            grid-template:
            "a a a" 30fr
            "b c c" 35fr / 243fr 1fr 100fr;

            > .title {
              line-height: px(35);
              padding-left: px(20);
              font-size: px(14);
              color: #92b1bb;
              grid-area: a;
            }

            > .number {
              line-height: px(20);
              font-size: px(20);
              padding-left: px(20);
              color: #92b1bb;
              grid-area: b;
            }

            > .percentage {
              text-align: center;
              line-height: px(10);
              font-size: px(16);
              color: #92b1bb;
              grid-area: c;
            }
          }
        }

        .chart {
          flex: 1;
        }
      }
    }

    .chart2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid #457482;
      height: px(60);
      position: relative;

      h1 {
        background: #101521;
        font-size: px(18);
        letter-spacing: px(7);
        color: #b2cfd7;
      }

      h2 {
        background: #101521;
        font-size: px(8);
        color: #b2cfd7;
      }

      .square1 {
        height: px(7);
        width: px(7);
        background: #ffda67;
        position: absolute;
        top: 0;
        left: 0;
      }

      .square2 {
        height: px(7);
        width: px(7);
        background: #ffda67;
        position: absolute;
        top: 0;
        right: 0;
      }

      .square3 {
        height: px(7);
        width: px(7);
        background: #ffda67;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .square4 {
        height: px(7);
        width: px(7);
        background: #ffda67;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .chart3 {
      border: 2px solid #ffda67;
      height: px(840);
      margin-top: px(25);
      margin-bottom: px(30);
      position: relative;
      display: flex;
      flex-direction: column;
      background: #1c3b4b;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        box-shadow: 12px 0 0 -10px #5893a6,
        0 12px 0 -10px #5893a6,
        -12px 0 0 -10px #5893a6,
        0 -12px 0 -10px #5893a6;
      }

      .chart {
        flex: 1;
      }
    }
  }
}