@import "../shared/helper";


.home {
  flex: 1;
  display: flex;
  flex-direction: column;

  > header {
    height: px(112);
    background-size: cover;
  }

  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box3" 930fr / 486fr 705fr 486fr;
    grid-column-gap: px(70);

    > .section1 {
      grid-area: box1;
      background: pink;
    }

    > .section2 {
      grid-area: box2;
      background: lightblue;
    }

    > .section3 {
      grid-area: box3;
      background: lightsalmon;
    }
  }
}